<a href="https://colab.research.google.com/github/muriarty1893/google_collab_checkpoint/blob/main/egitim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('occ.csv')

In [4]:
df.head()

   age gender  occupation zip_code
0   24      M  technician    85711
1   53      F       other    94043
2   23      M      writer    32067
3   24      M  technician    43537
4   33      F       other    15213

In [5]:
df.tail(10)

     age gender     occupation zip_code
933   61      M       engineer    22902
934   42      M         doctor    66221
935   24      M          other    32789
936   48      M       educator    98072
937   38      F     technician    55038
938   26      F        student    33319
939   32      M  administrator    02215
940   20      M        student    97229
941   48      F      librarian    78209
942   22      M        student    77841

In [6]:
df.shape

(943, 4)

In [7]:
print("datamızda ", df.shape[0], "adet observation, data point  var")

943

In [8]:
print("datamızda ", df.shape[1], "adeet değişken var")

datamızda  4 adeet değişken var

In [9]:
list(df.columns)[0:]

['age', 'gender', 'occupation', 'zip_code']

In [10]:
df.index

RangeIndex(start=0, stop=943, step=1)

In [11]:
df.loc[0] #isimlerine göre

age                   24
gender                 M
occupation    technician
zip_code           85711
Name: 0, dtype: object

In [12]:
df.loc[:,'age'] #satır ve stüna ulaşmak için ! satuır ve stün isimi ile

0      24
1      53
2      23
3      24
4      33
       ..
938    26
939    32
940    20
941    48
942    22
Name: age, Length: 943, dtype: int64

In [13]:
df['age']

0      24
1      53
2      23
3      24
4      33
       ..
938    26
939    32
940    20
941    48
942    22
Name: age, Length: 943, dtype: int64

In [15]:
df.iloc[:,0] #satır ve stün numaralaı için

0      24
1      53
2      23
3      24
4      33
       ..
938    26
939    32
940    20
941    48
942    22
Name: age, Length: 943, dtype: int64

In [16]:
df2=df #ikiside aynı dosyayı gösteren iki isim, yeni kopya oluşturmaz

In [18]:
df2=df.copy() #bu oluşturur

In [19]:
df2.drop(1,axis=0) #1 i satrılar arasında ara ve bulunca sil, aslında silmez sadece nasıl görüneceğini yazar

     age gender     occupation zip_code
0     24      M     technician    85711
2     23      M         writer    32067
3     24      M     technician    43537
4     33      F          other    15213
5     42      M      executive    98101
..   ...    ...            ...      ...
938   26      F        student    33319
939   32      M  administrator    02215
940   20      M        student    97229
941   48      F      librarian    78209
942   22      M        student    77841

[942 rows x 4 columns]

In [20]:
df2.drop(1,axis=0, inplace=True) # şimdi siler

In [22]:
df2.iloc[1] #sırayı ifade eder isimi değil

age               23
gender             M
occupation    writer
zip_code       32067
Name: 2, dtype: object

In [23]:
df.dtypes # data çeşitleri

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
date: '22/09/2024' string # string den date time a geçmek için
datetime -->

In [25]:
df[['occupation']]

        occupation
0       technician
1            other
2           writer
3       technician
4            other
..             ...
938        student
939  administrator
940        student
941      librarian
942        student

[943 rows x 1 columns]

In [26]:
c=list(df.columns) # isimleri listeye çevir
c

['age', 'gender', 'occupation', 'zip_code']

In [27]:
c.index('occupation') # isimin yerini bulma, iloc ta kullanmak için.

2

In [30]:
# how many occupatipon in dataset ?
df['occupation'].value_counts()
# şuan cevap değil

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

In [32]:
len(df['occupation'].value_counts().index) # occupation isimi sayısı, sadece birer tane değil !

21

In [35]:
len(df['occupation'].unique()) # şimdi birere tane - doğru cevap

21

In [36]:
df['occupation'].nunique() #üsttekiyle aynı

21

In [39]:
# most frequent occupation ? en fazla sayıda occupation ?
#value_counts() en fazla olanda en aza sıralar yani birinci en fazla olandır
print(df['occupation'].value_counts().index[0]) # adı
print(df['occupation'].value_counts().values[0]) # sayısı

student
196

In [43]:
df.describe(include='all') # include demezisen sadece 1. yi alıyor, freq meaning: top daki değerlerin sayısı

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [45]:
df['age'].mean()
# mean of age of users

34.05196182396607

In [48]:
#what is the age with least occurance ?
df['age'].value_counts().tail(10) # 1 olan kaç kişi var ?

age
63    3
69    2
62    2
64    2
68    2
7     1
11    1
66    1
10    1
73    1
Name: count, dtype: int64

In [47]:
minfreq = df['age'].value_counts().values[-1] # en az 1 kişi var en yaşlı olan

1

In [49]:
df['age'].value_counts().values # hangileri bir ? hangilerinin bir olduğunun konumlarını bulabilirsem bu konumlara
#karşılık gelen yaşlarda en az bununan yaşlar olacak

array([39, 38, 37, 36, 35, 34, 33, 32, 32, 28, 28, 27, 27, 26, 25, 23, 23,
       22, 21, 21, 21, 20, 20, 20, 19, 19, 18, 17, 17, 15, 14, 14, 13, 12,
       12, 11, 10,  9,  9,  6,  6,  6,  5,  5,  4,  3,  3,  3,  3,  3,  3,
        3,  2,  2,  2,  2,  1,  1,  1,  1,  1])

In [50]:
df['age'].value_counts().index

Index([30, 25, 22, 28, 27, 26, 24, 20, 29, 23, 32, 21, 35, 33, 31, 44, 19, 39,
       36, 42, 40, 50, 51, 48, 49, 37, 18, 34, 38, 45, 47, 17, 43, 46, 53, 55,
       41, 60, 57, 56, 15, 52, 16, 13, 54, 65, 61, 59, 14, 58, 70, 63, 69, 62,
       64, 68,  7, 11, 66, 10, 73],
      dtype='int64', name='age')

In [51]:
list(df['age'].value_counts().values).index(1)

56

In [53]:
loc_1 = df['age'].value_counts().values==1 #hangileri 1 e eşşit ?

In [55]:
df['age'].value_counts().index[loc_1] # loc 1 in true olduğu yerler, aradığımız konumları ifade etmek için kullanıldı

Index([7, 11, 66, 10, 73], dtype='int64', name='age')